[submodule "lib/JChristensenTimer"]
	path = lib/JChristensenTimer
	url = https://github.com/JChristensen/Timer.git
[submodule "lib/Arduino-PID-Library"]
	path = lib/Arduino-PID-Library
	url = https://github.com/br3ttb/Arduino-PID-Library.git
[submodule "lib/NTC_MF52AT_10K-palivoda"]
	path = lib/NTC_MF52AT_10K-palivoda
	url = https://github.com/palivoda/NTC_MF52AT_10K.git
[submodule "lib/arduino-interface"]
	path = lib/arduino-interface
	url = https://github.com/palivoda/arduino-interface.git
