[submodule "lib/JChristensenTimer"]
	path = lib/JChristensenTimer
	url = https://github.com/JChristensen/Timer.git
[submodule "lib/Arduino-PID-Library"]
	path = lib/Arduino-PID-Library
	url = https://github.com/br3ttb/Arduino-PID-Library.git
[submodule "lib/arduino-interface"]
	path = lib/arduino-interface
	url = https://github.com/palivoda/arduino-interface.git
[submodule "lib/DS18B20"]
	path = lib/DS18B20
	url = https://github.com/matmunk/DS18B20.git
[submodule "lib/OneWire"]
	path = lib/OneWire
	url = https://github.com/PaulStoffregen/OneWire.git
[submodule "lib/EASTL"]
	path = lib/EASTL
	url = https://github.com/electronicarts/EASTL.git
